<html>

<body>
    {% for product in products %}
    <p>{{product.name}}</p>
    <p>{{product.description}}</p>
    {# <p>{{product.metaKeywords}}</p>
    <img src={{product.image}} /> #}
    {# /public/media/image/ #}
    <span>{{product.createdAt |date("m/d/Y") }}</span>

    {% for variant in product.variants %}
    <p>{{variant}}</p>
    {% endfor %}
    {% endfor %}

</body>

</html>